# unittest.TestResult

class unittest.TestResult

| method                             | explaination |
| ---------------------------------- | ------------ |
| errors                             |              |
| failures                           |              |
| skipped                            |              |
| expectedFailures                   |              |
| unexpectedSuccesses                |              |
| shouldStop                         |              |
| testsRun                           |              |
| buffer                             |              |
| failfast                           |              |
| tb_locals                          |              |
| wasSuccessful()                    |              |
| stop()                             |              |
| startTest(test)                    |              |
| stopTest(test)                     |              |
| startTestRun()                     |              |
| stopTestRun()                      |              |
| addError(test, err)                |              |
| addFailure(test, err)              |              |
| addSuccess(test)                   |              |
| addSkip(test, reason)              |              |
| addExpectedFailure(test, err)      |              |
| addUnexpectedSuccess(test)         |              |
| addSubTest(test, subtest, outcome) |              |











